<meta name="robots" content="noindex, nofollow"> 

<script type="text/javascript">
    document.oncontextmenu = function () {
        return false;
    };
</script>

<style>
    body {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

</style>

<script type="text/javascript">
    document.onkeydown = function (e) {
        if (e.keyCode == 123) return false;
        if (e.ctrlKey && e.keyCode == 85) return false;
        if (e.ctrlKey && e.keyCode == 83) return false;
        if (e.ctrlKey && e.keyCode == 67) return false;
        if (e.ctrlKey && e.shiftKey && e.keyCode == 73) return false;
    };
</script>