<meta name="color-scheme" content="light dark">
<meta name="format-detection" content="telephone=no">
<meta name="robots" content="index, follow, noarchive">
<meta name="referrer" content="strict-origin-when-cross-origin">
<script>document.title = {{ if .IsHome }}{{ site.Params.label.text | jsonify | safeJS }}{{ else }}{{ .Title | plainify | jsonify | safeJS }}{{ end }};</script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;500;600;700&family=Noto+Serif+SC:wght@400;500;600;700&display=swap" rel="stylesheet">
